<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <form action="/user" method="post">
            <label>Enter your name</label>
            <input type="text" required name="name" id="" placeholder="enter your name here">
            <label> Enter your email</label>
            <input type="text" required for="email" name="email" placeholder="enter your mail-id">
            <label>Enter your password</label>
            <input type="password" required for="password" name="password">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>